:host {
  display: contents;
}

nav {
  display: flex;
  align-items: center;
  height: 4rem;
  margin-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 1px;
  border-color: #000;
  border-radius: 1rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
}

a:hover {
  text-decoration-line: underline;
}

.active {
  font-weight: 700;
  text-decoration-line: underline;
}
